<h2>Make New House</h2>
 <h5>'Break faith? Your father burned my grandfather alive!'</h5>

 <%= form_for @house do |f| %>
   <%= f.label :name %>
   <%= f.text_field :name %>
   <br>
   <%= f.label :sigil %>
   <%= f.text_field :sigil %>
   <br>
   <%= f.label :motto %>
   <%= f.text_field :motto %>
   <br>
   <%= f.label :location %>
   <%= f.text_field :location %>
   <br>
   <%= f.label :banner_img %>
   <%= f.text_field :banner_img %>
   <br>
   <%= f.submit "Climb The Ladder" %>
 <% end %>
