<%= link_to "Back To All Houses", houses_path %>
 <h2><%= @house.name %></h2>
 <h5><%= @house.motto %></h5>
 <%= link_to "Edit/Remove", edit_house_path(@house) %>

 <p><%= @house.sigil %></p>
 <p><%= @house.location %></p>

 <img src="<%= @house.banner_img %>">

 <h3>Members</h3>
 <%= link_to "Add New Member, Why Not?", new_house_character_path(@house) %>
 <ol>
   <% @house.characters.each do |h| %>
     <li><a href="<%= house_character_path("#{h.house_id}", "#{h.id}") %>"><%= h.name %></a></li>
   <% end %>
 </ol>
