<h2> <%= @house.name %> grows... </h2>

 <%= link_to "Back To Characters", house_path(@house) %>

 <%= form_for [@house, @character] do |f| %>
   <%= f.label :name %>
   <%= f.text_field :name %>
   <br>
   <%= f.label :title %>
   <%= f.text_field :title %>
   <br>
   <%= f.label :quote %>
   <%= f.text_field :quote %>
   <br>
   
   <br>
   <%= f.submit "Welcome to the Family" %>
   <% end %>
